return {
	redis = {
		host = "redis",
		port = 6379
	},
	mysql = {
		timeout = 5000,
		connect_config = {
			host = "db",
			port = 3306,
			database = "app",
			user = "app",
			password = "ZtkLq4In5Q",
			max_packet_size = 1024 * 1024
		},
		pool_config = {
			max_idle_timeout = 20000, -- 20s
			pool_size = 100 -- connection pool size
		}
	}
}
